body {
    margin: 0;
}
img {
    max-width: 100%;
}

/* Layout específico para analytics */
.ly-analytics {
    display: grid;
    row-gap: var(--size-10);
}
.ly-analytics .ola_section-header.is-center {
    padding-left: var(--column-gap-3);
    padding-right: var(--column-gap-3);
}

/* Layout de la primera sección de Traffic SEO */
.ly-traffic {
    display: grid;
    grid-template-areas: ". kpis ."
                         "chart chart .";
    grid-template-columns: minmax(0, 1fr) minmax(0, var(--max-width)) minmax(0, 1fr);
    column-gap: var(--column-gap-3);
    row-gap: var(--row-gap-2);
}
.ly-traffic-kpis {
    grid-area: kpis;
}
.ly-traffic-chart {
    grid-area: chart;
}

/* Wrapper para centrar el contenido con un max-width */
.ly-wrapper {
    max-width: var(--max-width);
    padding-left: var(--column-gap-3);
    padding-right: var(--column-gap-3);
    margin-left: auto;
    margin-right: auto;
}
/* Modificador para ancho estrecho */
.ly-wrapper.is-medium {
    max-width: var(--size-12);
}

/* Layout para las secciones con 2 columnas */
.ly-2columns {
    display: grid;
}
.ly-2columns > :first-child {
    box-sizing: border-box;
}
.ly-2columns > :last-child {
    box-sizing: border-box;
}

/* @media (--to-width-2) */
@media (max-width: 782px) {
    .ly-2columns {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .ly-2columns.is-1-2 > :first-child {
        max-width: var(--size-12);
        justify-self: center;
    }
}

/* @media (--min-width-2) */
@media (min-width: 783px) {
    .ly-2columns {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    /* Modificador para que las columnas midan 33% y 66% */
    .ly-2columns.is-1-2 {
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }

    .ly-2columns > :first-child {
        padding-right: var(--column-gap-2);
    }
    .ly-2columns > :last-child {
        padding-left: var(--column-gap-2);
        border-left: var(--separator);
    }
}
